{% extends "core/base.html" %}
{% load static %}
{% block content %}
<br><br><br><br><br><br><h1 class="wow fadeInUp text-center" data-wow-duration="1300ms" data-wow-delay="0.3s"><em>Tu imaginación es el límite.</em><br><br></h1>
<!-- Blog Section -->
<section id="blog" class="section">
  <!-- Container Starts -->
  <div class="container">
    <div class="section-header">
      <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Ultimos <span>Blogs</span>
      </h2>
      <hr class="lines wow zoomIn" data-wow-delay="0.3s">
      <p class="section-subtitle wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">Bienvenido a
        este blog en donde encontraras temas variados. <br> Que no te de miedo comentar cualquier duda que
        tengas.</p>
    </div>
    <div class="row">
      {% for project in projects %}
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 blog-item">
        <!-- Blog Item Starts -->
        <div class="blog-item-wrapper wow fadeInUp" data-wow-delay="0.3s">
          <div class="blog-item-img">
            <a href="#">
              <img src="{{project.image.url}}" alt="">
            </a>
          </div>
          <div class="blog-item-text">
            <h3>
              <a href="#">{{project.title}}</a>
            </h3>
            <div class="meta-tags">
              <span class="date"><i class="lnr lnr-calendar-full"></i>{{project.created}}</span>
            </div>
            <p>{{project.description}}</p>
            <a href="{% url 'single' project.id %}" class="btn btn-common btn-rm">Saber más</a>
          </div>
        </div>
        <!-- Blog Item Wrapper Ends-->
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- blog Section End -->

<!-- about Section Start -->
<div id="about" class="section">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Hola! soy Jurgen
        Huerlo conoce un poco sobre mi.</h2>
      <hr class="lines wow zoomIn" data-wow-delay="0.3s">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-sm-6 col-mb-12">
            <br>
            <p class="section-subtitle justify-content-around wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="0.5s">Soy
              un estudiante de la Universidad Catolica del Ecuador de la carrera de Ingenieria en
              Sistemas, me gusta mucho programar, jugar videojuegos, salir y pasar tiempo con mis amigos,
              tocar la guitarra y viajar estos son mis pasatiempos favoritos cuando no estoy
              estudiando.<br>
              Actualmente vivo en la ciudad de Esmeraldas mientras termino mis estudios, siempre trato de
              estar al dia con las nuevas tecnologias aunque estas avancen muy rápido, espero que el blog
              sea de su agrado ya que en este tambien encontrarán muchos de mis proyectos personales.<br>
              Con la finalidad de tener una retroalimentacion de parte de quienes visiten mi pagina,
              estaran disponibles los comentarios para que cualquier persona que se registre pueda dejar
              una opinión acerca de los temas tratados.
            </p>
          </div>
          <div class="col-lg-7 col-sm-6 col-mb-12">
            <br>
            <img class="rounded-circle wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0.3s" src="{% static 'core/img/Perfil.jpg'%}" height="330" width="320"></img>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About Section End -->

<!-- Contact Section Start -->
<section id="contact" class="section">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-9 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">
        <div class="contact-block">
          <div class="section-header">
            <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">
              Contacta<span>me</span></h2>
            <hr class="lines wow zoomIn" data-wow-delay="0.3s">
          </div>
          <form method="post" action="">{% csrf_token %}
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  {{form.name}}
                  <div class="help-block with-errors"></div>
                </div>
                {{form.name.errors}}
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  {{form.email}}
                  <div class="help-block with-errors"></div>
                </div>
                {{form.email.errors}}
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  {{form.subject}}
                  <div class="help-block with-errors"></div>
                </div>
                {{form.subject.errors}}
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  {{form.content}}
                  <div class="help-block with-errors"></div>
                </div>
                <div class="help-block with-errors"></div>
                {{form.content.errors}}
                <div class="text-center">
                  <button class="btn btn-outline-primary" type="submit">Enviar mensaje</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
<!-- Contact Section End -->