{% extends "core/base.html" %}
{% load static %}
{% block content %}
<br><br>
<div class="container">
    <a href="{% url 'index' %}" class="btn btn-common btn-rm">Volver</a>
        <h2 class=" text-center section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">{{ content.title }}</h2>
        <hr class="lines wow zoomIn" data-wow-delay="0.3s"><br>
        <div class="container">
                <div class="text-center">
                    <img class="rounded" style="margin-left: auto; margin-right: auto; width: 50%;
                    display: block;" src="{{ content.image.url }}"></img>
                </div>
                <div class="text-center">
                    <br>
                    <p class="section-subtitle justify-content-around wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="0.5s">
                        {{content.content|linebreaks}}
                    </p>
                </div>
        </div>
</div>
{% endblock %}