<!DOCTYPE html>
<html lang="es">

<head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Bootstrap, Landing page, Template, Registration, Landing">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Grayrids">
    <link href="{% static '/core/img/home_icon.png'%}" rel="shortcut icon" />
    <title>JurgenHQ </title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/line-icons.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/owl.theme.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/nivo-lightbox.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/menu_sideslide.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/responsive.css' %}">
</head>

<body>
    
    <!--Start menu-->
    <div class="menu-wrap">
        <nav class="menu navbar">
            <div class="icon-list navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#video-area">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">Acerca de</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contacto</a>
                    </li>
                </ul>
            </div>
        </nav>
        <button class="close-button" id="close-button"><i class="lnr lnr-cross"></i></button>
    </div>
    <!--end menu-->
    
    
    <!-- Header Section Start -->
    <header id="video-area" data-stellar-background-ratio="0.5">
        <div id="block" data-vide-bg="{% static 'core/video/video' %}"></div>
        <div class="fixed-top">
            <div class="container">
                <div class="logo-menu">
                    <a href="{% url 'index' %}" class="logo"><span class="lnr lnr-diamond"></span>JurgenHQ-Blog del
                        Noob</a>
                    <button class="menu-button" id="open-button"><i class="lnr lnr-menu"></i></button>
                </div>
            </div>
        </div>
        <div class="overlay overlay-2"></div>
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-10">
                    <div class="contents text-center">
                        <h1 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">Blog de programación
                        </h1>
                        <p class="lead  wow fadeIn" data-wow-duration="1000ms" data-wow-delay="400ms">Crea tus propios
                            sitios Web con Django.</p>
                        {% if LINK_DJANGO %}
                            <a href="{{LINK_DJANGO}}" class="btn btn-common wow fadeInUp" data-wow-duration="1000ms"
                            data-wow-delay="400ms"><i class="lnr lnr-download"></i> Download</a>
                        {% endif %} 
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    {% block content %} {% endblock %}

    <!-- Footer Section Start -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="social-icons wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">
                        <ul>

                            {% if LINK_FACEBOOK %}<li class="facebook"><a href="{{LINK_FACEBOOK}}"><i
                                        class="fa fa-facebook"></i></a></li>{% endif %}
                            {% if LINK_TWITTER %}<li class="twitter"><a href="{{LINK_TWITTER}}"><i
                                        class="fa fa-twitter"></i></a></li>{% endif %}
                            {% if LINK_YOUTUBE %}<li class="youtube"><a href="{{LINK_YOUTUBE}}"><i
                                        class="fa fa-youtube-play"></i></a></li>{% endif %}
                        </ul>
                    </div>
                    <div class="site-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0.3s">
                        <p>All copyrights reserved &copy; 2017 - Designed & Developed by <a rel="nofollow"
                                href="https://uideck.com">UIdeck</a></p>
                        <p>Backend Built & Developed by Jurgen Huerlo</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Go To Top Link -->
    <a href="#" class="back-to-top">
        <i class="lnr lnr-arrow-up"></i>
    </a>

    <div id="loader">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="{% static 'core/js/jquery-min.js' %}"></script>
    <script src="{% static 'core/js/tether.min.js' %}"></script>
    <script src="{% static 'core/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'core/js/classie.js' %}"></script>
    <script src="{% static 'core/js/mixitup.min.js' %}"></script>
    <script src="{% static 'core/js/nivo-lightbox.js' %}"></script>
    <script src="{% static 'core/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'core/js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'core/js/jquery.nav.js' %}"></script>
    <script src="{% static 'core/js/smooth-scroll.js' %}"></script>
    <script src="{% static 'core/js/smooth-on-scroll.js' %}"></script>
    <script src="{% static 'core/js/wow.js' %}"></script>
    <script src="{% static 'core/js/menu.js' %}"></script>
    <script src="{% static 'core/js/jquery.vide.js' %}"></script>
    <script src="{% static 'core/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'core/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'core/js/waypoints.min.js' %}"></script>
    <script src="{% static 'core/js/main.js' %}"></script>
</body>

</html>